.react-grapher {
    background: #f1f1f5;
    --react-grapher-node-background: #ce4c13;
    --react-grapher-node-background-hover: #e1581c;
    --react-grapher-node-background-active: #bb440f;
    --react-grapher-node-border: #ff550a;
    --react-grapher-node-border-selected: white;
    --react-grapher-node-color: white;

    --react-grapher-edge-stroke-width: 3px;
    --react-grapher-edge-color: #858484;
    --react-grapher-edge-color-hover: #ada7a7;
    --react-grapher-edge-color-active: #656363;
}

.react-grapher-node {
    border-radius: 16px;
    border: 2px solid;
    padding: 16px;
    user-select: none;
    font-weight: bold;
    box-shadow: 1px 1px 6px -2px black;

    transition: background-color .1s, opacity .2s;

    background: var(--react-grapher-node-background);
    border-color: var(--react-grapher-node-border);
    color: var(--react-grapher-node-color);
}

.react-grapher-node:hover {
    background: var(--react-grapher-node-background-hover)
}

.react-grapher-node[data-grabbed=true] {
    opacity: .9;
    background: var(--react-grapher-node-background-active)
}

.react-grapher-node[data-selected=true] {
    border-color: var(--react-grapher-node-border-selected);
    border-width: 3px;
}

.react-grapher-node-handle {
    background-color: black;
    border: 1px solid white;
}

.react-grapher-edge-path {
    fill: transparent;
    stroke: var(--react-grapher-edge-color);
    stroke-width: var(--react-grapher-edge-stroke-width);
    stroke-linecap: round
}

.react-grapher-marker-arrow {
    fill: transparent;
    stroke: var(--react-grapher-edge-color);
    stroke-width: var(--react-grapher-edge-stroke-width);
    stroke-linecap: round;
}

.react-grapher-marker-arrow-filled {
    fill: var(--react-grapher-edge-color);
    stroke: transparent;
}