/* Variables */
.react-grapher {
    --react-grapher-background: #f5f5f8;
    --react-grapher-node-background: #ce4c13;
    --react-grapher-node-background-hover: #e1581c;
    --react-grapher-node-background-active: #bb440f;
    --react-grapher-node-border: #ff550a;
    --react-grapher-node-border-selected: #FFFDD0;
    --react-grapher-node-text-color: white;

    --react-grapher-handle-outer-background-hover: #fff3;
    --react-grapher-handle-outer-background-active: #bbb3;
    --react-grapher-handle-border: #eee;
    --react-grapher-handle-background: #777;

    --react-grapher-edge-stroke-width: 3px;
    --react-grapher-edge-stroke-width-selected: 4px;
    --react-grapher-edge-color: #777777;
    --react-grapher-edge-color-selected: #8c8c8c;
    --react-grapher-edge-color-hover: #a2a2a2;
    --react-grapher-edge-color-active: #5e5e5e;
    --react-grapher-edge-shadow-color: #EEECC0;
    --react-grapher-edge-label-color: #000000;
    --react-grapher-edge-label-color-hover: #676767;
    --react-grapher-edge-label-color-active: #3b3b3b;

    background-color: var(--react-grapher-background);
}



/* Node */
.react-grapher-node {
    border-radius: 16px;
    border: 2px solid;
    padding: 16px;
    user-select: none;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 1px 1px 6px -2px black;

    transition: background-color .1s, opacity .2s;

    background: var(--react-grapher-node-background);
    border-color: var(--react-grapher-node-border);
    color: var(--react-grapher-node-text-color);
}

.react-grapher-node:hover {
    background: var(--react-grapher-node-background-hover)
}

.react-grapher-node[data-grabbed=true] {
    opacity: .9;
    background: var(--react-grapher-node-background-active)
}

.react-grapher-node[data-selected=true] {
    border-color: var(--react-grapher-node-border-selected);
    border-width: 3px;
}

/* Node Handle */
.react-grapher-node-handle {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--react-grapher-handle-background);
    border: 1px solid var(--react-grapher-handle-border);
}

.react-grapher-node-handle-box {
    border-radius: 50%;
}

.react-grapher-node-handle-box:hover {
    background-color: var(--react-grapher-handle-outer-background-hover);
}

.react-grapher-node-handle-box[data-grabbed=true] {
    background-color: var(--react-grapher-handle-outer-background-active);
}


/* Edge */

/* Edge Path */
.react-grapher-edge-path {
    fill: none;
    stroke: var(--react-grapher-edge-color);
    transition: stroke .1s;
    stroke-width: var(--react-grapher-edge-stroke-width);
    stroke-linecap: round
}

.react-grapher-edge:hover .react-grapher-edge-path {
    stroke: var(--react-grapher-edge-color-hover);
}

.react-grapher-edge[data-grabbed=true] .react-grapher-edge-path {
    stroke: var(--react-grapher-edge-color-active);
}

.react-grapher-edge[data-selected=true] .react-grapher-edge-path {
    stroke: var(--react-grapher-edge-color-selected);
    stroke-width: var(--react-grapher-edge-stroke-width-selected);
    /* TODO Better selected design */
    filter: drop-shadow(0 0 3px var(--react-grapher-edge-shadow-color)) drop-shadow(0 0 4px var(--react-grapher-edge-shadow-color));
}

/* Edge Label */
.react-grapher-edge-label {
    fill: var(--react-grapher-edge-label-color);
    font-size: .8rem;
    user-select: none;
}

.react-grapher-edge:hover .react-grapher-edge-label {
    fill: var(--react-grapher-edge-label-color-hover);
}

.react-grapher-edge[data-grabbed=true] .react-grapher-edge-label {
    fill: var(--react-grapher-edge-label-color-active);
}

/* Edge Label Background */
.react-grapher-edge-label-background {
    stroke: none;
    fill: var(--react-grapher-background);
}


/* Markers */
.react-grapher-marker-arrow {
    fill: none;
    stroke: var(--react-grapher-edge-color);
    stroke-width: var(--react-grapher-edge-stroke-width);
    stroke-linecap: round;
}

.react-grapher-marker-arrow-filled {
    fill: var(--react-grapher-edge-color);
    stroke: none;
}